.container.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-content {
  height: 100%;
  @media screen and (min-width: 768px) {
    margin-left: 8em;
  }
  .project-list {
    height: 100%;
    // background-color: #ff00002e;
    padding: 2em;
    display: flex;
    justify-content: center;
    ul {
      // display: flex;
      flex-wrap: nowrap;
      // overflow-x: auto;
      height: 100%;
      overflow-y: scroll;
      width: 90vw;
      @media screen and (min-width: 768px) {
        width: 70vw;
        padding: 4em;
      }
    }
    li {
      flex: 0 0 auto;
      background-color: white;
      padding: 4em;
      border-radius: 32px;
      height: 50vh;
      margin-bottom: 40em;
      margin-top: 2em;;
    }
    .title {
      padding: 0em !important;
      h1 {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        text-shadow: 1px 3px 6px black;
        color: white;
        font-size: 3em;
        margin-top: -2em;
        // position: absolute;
        @media screen and (min-width: 768px) {
          font-size: 5em;
          // margin-top: -1.5em;
          letter-spacing: 4px;
        }
        
      }
    }
    .description {
      margin-top: 4em;
      margin-bottom: 4em;
  }
  .img{
    position:relative!important;
  }
  }
}
