@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@font-face {
  font-family: "Impact Normal";
  src: url("assets/fonts/IMPACT.TTF") format("ttf");
}
* {
  color: gray;
}
*:not(.float-bull){
z-index: 1;
}
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;

  .container {
    /* background-image: radial-gradient(#3e1b91 15%, #291262 60%); */
    // background: url("assets/img/bkg.jpg");
    background-color:#000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    .content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      z-index: 2;
      &:not(.form) {
        align-content: space-between;
        justify-content: space-between;
      }
      .img {
        width: 200px;
        height: 300px;
        img {
          width: 100%;
        }
      }

      .title-links,
      .links,
      .footer,
      .menu-btns {
        z-index: 1;
      }
      .menu-btns {
        display: none;
        @media screen and (min-width: 768px) {
          display: block;
          position: absolute;
          top: 43vh;
          margin-left: 2em;
        }
        li {
          box-shadow: 7px 6px 25px -7px rgb(0, 0, 0);
          width: 30px;
          height: 30px;
          border-radius: 15px;
          margin-top: 1em;
        }
      }
      .title-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        .title {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          margin-top: 9em;
          h1,
          h2 {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            /* box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.31); */
            background-color: #000;
            color: transparent;
            text-shadow: 1px 1px 1px rgb(255, 255, 255);
            -webkit-background-clip: text;
          }
          h1 {
            font-size: 16vw;
            margin: 0px 0px 0.5em 0px;
            @media screen and (min-width: 768px) {
              font-size: 5em;
            }
          }

          h2 {
            font-size: 6vw;
            letter-spacing: 0.27rem;
            @media screen and (min-width: 768px) {
              font-size: 1.5em;
            }
          }
        }
      }
      .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
          &:not(:last-child) {
            margin-right: 1em;
          }
          a {
            font-size: 14px;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            &:after {
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 3px;
              left: 50%;
              position: absolute;
              background: #fff;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
            }

            &:hover:after {
              width: 100%;
              left: 0;
            }
          }
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: context-menu;
          width: 2px;
        }
      }
      .footer {
        padding: 0 0 0.5em 0.5em;
        a {
          font-size: 10px;
          font-weight: lighter;
          margin-bottom: 0.5em;
          color: #868585;
        }
      }

      .float-bull {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        div{
          background-color: #000000;
          border: solid white 46px;
        }
        .bull-1,
        .bull-2,
        .bull-3 {
          border-radius: 50%;
        }

        .bull-1 {
          width: 17em;
          height: 17em;
          margin-top: -130px;
          animation: float-1 2s ease-in-out infinite;
          @media screen and (min-width: 768px) {
            width: 20em;
            height: 20em;
          }
        }

        .bull-2 {
          width: 30em;
          height: 30em;
          top: 51vh;
          position: absolute;
          animation: float-2 3s ease-in-out infinite;
          left: -98px;
          @media screen and (min-width: 768px) {
            width: 40em;
            height: 40em;
          }
        }

        .bull-3 {
          width: 20em;
          height: 20em;
          position: absolute;
          // left: 67vw;
          left:74vw;
          top: 8vh;
          animation: float-1 3s ease-in-out infinite;
          @media screen and (min-width: 768px) {
            width: 50em;
            height: 50em;
          }
        }
      }
    }

    //SIGNUP
    .content.form {
      justify-content: center !important;
      align-items: center;
    }
  }
}

/* float bulles */

@keyframes float-1 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
}

@keyframes float-2 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
